# Dependencies
**/node_modules
**/dist
**/build

# Environment
.env*
*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Frontend specific
frontend/dist
frontend/dist-ssr

# Backend specific
backend/dist
